@import url('./reset.css');
@import url('./common.css');

/* ===== spot ===== */
.spot {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/img_spot-main.jpg') 0 0 / cover no-repeat;
    position: relative;
}
.spot .box {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    left: 50%; top: 70%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: 32px 47px;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 75px;
}
.spot .box > div > p { font-size: 20px; }
.spot .box > div > div > b { font-size: 32px; }
.spot .box > div > div > small { font-size: 20px; }
.spot .box .openmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spot .box .openmenu > a {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.spot .box .openmenu > a > img { padding-left: 90px; }
.spot .box .search {
    width: 80px; height: 80px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== room ===== */
.room .contents {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.room .contents img { border-radius: 20px; }
.room .contents > figure {
    position: relative;
}
.room .contents > figure > p {
    width: 1400px;  height: 755px;
    border-radius: 20px;
    overflow: hidden;
}
.room .contents > figure > p > img { width: 100%; }
.room .contents > figure > figcaption {
    position: absolute;
    left: 5%; bottom: 5%;
}
.room .contents > figure > figcaption > b {
    font-size: 40px;
    color: white;
}
.room .contents > figure > figcaption > p {
    font-size: 24px;
    color: white;
}



/* ===== facilities ===== */
.faciliries .contents {
    width: 1400px;
    display: flex;
}

.faciliries .contents > span {
    display: flex;
    justify-content: center;
}

.faciliries .contents .open {
    width: 50%;
    overflow: hidden;
    position: relative;
}
.faciliries .contents .open > img { width: 100%; }
.faciliries .contents .open .details {
    position: absolute;
    bottom: 8%;
}
.faciliries .contents .open .details > p {
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding-bottom: 16px;
}
.faciliries .contents .open .details > div {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2px;
    width: 552px;
}

.faciliries .contents .fold {
    width: 25%;
    overflow: hidden;
    filter: brightness(0.8);
}
.faciliries .contents .fold .details {
    position: absolute;
    bottom: 8%;
}
.faciliries .contents .fold .details > p {
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding-bottom: 16px;
}
.faciliries .contents .fold .details > div {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2px;
    width: 232px;
}
.faciliries .contents .fold > img { height: 100%; }

/* ===== around ===== */
.around .top{
    display: flex;
}
.around .title-2 {
    width: 100%;
    max-width: 1400px;
    padding-bottom: 64px;
}
.around .title-2 > div { padding-bottom: 80px; }
.around .title-2 > div > small { font-size: 24px; }
.around .title-2 > div > h2 { font-size: 64px; }
.around .title-2 > p { font-size: 20px; }

.around img { border-radius: 20px; }
.around a { font-size: 20px; }
.around a::after {
    content: url('../img/icon_right.svg');
    padding-left: 10px;
}

.around .top { width: 1400px; }
.around .top > p { padding-bottom: 20px; }
.around .bottom {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.around .bottom > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* ===== event ===== */
.event .contents {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
}
.event .contents .box {
    position: relative;
}
.event .contents .box > img {
    border-radius: 20px;
    box-shadow: 0px 8px 20px 4px rgba(0, 0, 0, 0.1);
}
.event .contents .box > p {
    position: absolute;
    left: 24px; top: 24px;
    font-size: 12px;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 8px 12px;
}
.event .contents .box > div {
    position: absolute;
    left: 0; bottom: 0;
    width: 50%;
    background-color: white;
    border-radius: 0 20px 0 20px;
    padding: 32px 40px;
}
.event .contents .box > div > p:nth-of-type(1) {
    font-size: 20px;
}
.event .contents .box > div > p:nth-of-type(2) {
    font-size: 16px;
    color: #7a7a7a;
}

/* ===== contect ===== */
.contect .details {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.contect .details .left { width: 50%; }
.contect .details .right { width: 50%; }

.contect .details a { margin-bottom: 40px; }

.contect .details .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contect .details .left .tap {
    display: flex;
    background-color: #efefef;
    border-radius: 8px;
    color: #afafaf;
    width: 226px; height: 64px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 8px;
}
.contect .details .left .tap > p:nth-of-type(1) {
    color: #2f2f2f;
    background-color: white;
    border-radius: 8px;
    width: 103px; height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contect .details .left .tap > p:nth-of-type(2) {
    color: #afafaf;
    width: 103px; height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contect .details .left .text .bottom {
    display: flex;
    gap: 73px;
}

.contect .details .right .service {
    display: inline-block;
    width: 180px; height: 64px;
    background-color: #2f2f2f;
    border-radius: 8px;
    text-align: center;
    line-height: 64px;
    color: white;
    font-size: 20px;
}
.contect .details .right .text span { font-weight: bold; }

/* ===== footer ===== */
footer {
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 20px;
    padding: 200px 0;
    display: flex;
    justify-content: center;
}

footer > div {
    width: 100%;
    max-width: 1400px;
}

footer span {
    font-weight: bold;
    padding-right: 20px;
}

footer .logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;
}
footer .logo > img { padding-right: 120px; }
footer .logo > div {
    display: flex;
    justify-content: center;
}
footer .logo > div > p:nth-of-type(1)::after {
    content: '│';
    padding: 0 24px;
}

footer > div .text { display: flex; }
footer > div .fir { padding-bottom: 16px; }
footer > div .sec { padding-bottom: 64px; }
footer > div .thr {
    justify-content: space-between;
    align-items: flex-end;
}
footer > div .thr .icons {
    display: flex;
    gap: 12px;
    
}
footer > div .thr .icons .iconbox {
    width: 40px; height: 40px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}